<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<header th:replace="plantilla/template :: header">

</header>

<div class="container text-center py-3">
    <div class="panel bg-light">
        <div class="panel-heading">
            <h2>
                <span th:text="${error}"></span> - <span th:text="${status}"></span>
            </h2>
        </div>
        <div class="panel-body">
            <img th:src="@{/images/exit-icon-4622.png}" width="48" height="48">
            <br>
            <h5>La pagina solicitada no existe!</h5>
            <br>
            <button class="btn btn-success" onclick="goBack()">&laquoRegresar</button>

        </div>
    </div>

</div>


<footer th:replace="plantilla/template :: footer">

</footer>

</body>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</html>