<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="plantilla/template :: header">

</header>

<div class="container">
    <h1 th:text="${titulo}"></h1>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
            <th scope="col">Ciudad</th>
            <th scope="col" class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cl:${clientes}">
            <th scope="row" th:text="${cl.id}"></th>
            <td th:text="${cl.nombres}"></td>
            <td th:text="${cl.apellidos}"></td>
            <td th:text="${cl.email}"></td>
            <td th:text="${cl.telefono}"></td>
            <td th:text="${cl.ciudad.id}"></td>
            <td>
                <a class="btn btn-success btn-sm" th:href="@{/views/clientes/edit/} + ${cl.id}"
                th:text="'Editar'" title="Editar Registro"></a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm" th:href="@{/views/clientes/delete/} + ${cl.id}"
                th:text="'Eliminar'" title="Eliminar Registro" onclick="return confirm('Estas seguro de eliminar el registro?');"></a>
            </td>

        </tr>

        </tbody>
    </table>
    <a class="btn btn-primary btn-sm" th:text="'Ingresar nuevo cliente'" title="nuevo registro" th:href="@{/views/clientes/crear}"></a>


</div>


<footer th:replace="plantilla/template :: footer">

</footer>

</body>
</html>